body {
    background-color: #1c2329;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

p, input {
    color: #adb7bd;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 42px;
}

input[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #adb7bd;
    background: transparent;
    min-width: 22em;
}

@keyframes wobble {
    /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
    from {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.wobble {
    animation: wobble 1s infinite ;
}