body {
    background-color: #1c2329;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

p, input {
    color: #adb7bd;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 42px;
}

input[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #adb7bd;
    background: transparent;
    min-width: 22em;
}